{
  "extends": [
    "next/core-web-vitals",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:sonarjs/recommended",
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["prettier", "sonarjs"],
  "rules": {
    "@typescript-eslint/no-unused-vars": "error",
    "no-unused-expressions": "warn",
    "sonarjs/cognitive-complexity": "off",
    "sonarjs/no-identical-expressions": "error",
    "sonarjs/non-existent-operator": "error",
    "sonarjs/no-use-of-empty-return-value": "error",
    "sonarjs/no-identical-conditions": "error",
    "sonarjs/no-extra-arguments": "error",
    "sonarjs/no-useless-catch": "error",
    "sonarjs/prefer-immediate-return": "error",
    "sonarjs/no-duplicate-string": "off",
    "no-console": "warn",
    // "@next/next/no-img-element": "off"
  },
}
